// TODO: Set up colors from your design system
$color-brand-primary: #1c5335;
$color-brand-secondary: #e86825;

$color-green-primary: #1c5335;
$color-green-medium: #6b8f7c;
$color-green: #cee1c6;
$color-green-light: #bacbc2;
$color-green-lighter: #e7f2e3;

$color-orange-dark: #c84603;
$color-orange-primary: #e86825;
$color-orange-medium: #f6c3a8;
$color-orange-light: #ffebe1;

$color-yellow-main: #ffb31b;
$color-yellow-light: #fff3db;

$color-red-main: #c80303;
$color-red-light: #fff3db;

$color-grey-main: #c80303;
$color-gray-light: #f8f8f8;
$color-gray-brown-light: #f8f3f0;

$color-white: #fff;